<h3>Estadísticas</h3>
<br />
<p>Número de preguntas: <%= stat.numQuestions %></p>
<p>Número de comentarios: <%= stat.numComments %></p>
<p>Número medio de comentarios por pregunta: <%= stat.mediaComments %></p>
<p>Número de preguntas con comentarios: <%= stat.questionsComment %></p>
<p>Número de preguntas sin comentarios: <%= stat.questionsNoComment %></p>